<ion-header>

  <ion-navbar>
    <ion-buttons start left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="updateProfile()" [disabled]="true">
        <ion-icon name="checkmark" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- Profile picture -->
  <div text-center>
    <img [src]="user_data.profile_img" class="edit-avatar" alt="">
    <p class="change-text" (click)="fileInput.click()">Change Photo</p>
    <input hidden
           type="file"
           #fileInput
           multiple
           (change)="handleFile($event.target.files)"></div>

  <!-- Form -->
  <form>
    <ion-item>
      <ion-label color="primary" fixed>Name</ion-label>
      <ion-input type="text" placeholder="" id="name" required></ion-input>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i></i>
        <div class="error-message isa_error" *ngIf="formErrors.name">
          {{ formErrors.name }}
        </div>
      </ng-container>
    </div>-->

    <ion-item>
      <ion-label color="primary" fixed>Surname</ion-label>
      <ion-input type="text" placeholder="" id="surname"  required></ion-input>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i></i>
        <div class="error-message isa_error" *ngIf="formErrors.surname">
          {{ formErrors.surname }}
        </div>
      </ng-container>
    </div>-->

    <ion-item>
      <ion-label color="primary" fixed>Patronymic</ion-label>
      <ion-input type="text" placeholder="" id="patronymic"  ></ion-input>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i></i>
        <div class="error-message isa_error" *ngIf="formErrors.patronymic">
          {{ formErrors.patronymic }}
        </div>
      </ng-container>
    </div>-->

    <ion-item>
      <ion-label>Birth Date</ion-label>
      <ion-datetime  display-format="MMMM YYYY" min="1900" max="2020-10-31"
                    placeholder="Birth Date"
                    required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="transgender" color="gray"></ion-icon>Gender
      </ion-label>
      <!--<ion-label>Gender</ion-label>-->
      <ion-select  >
        <ion-option value="female">FEMALE</ion-option>
        <ion-option value="male">male</ion-option>
      </ion-select>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i></i>
        <div class="error-message isa_error" *ngIf="formErrors.gender">
          {{ formErrors.gender }}
        </div>
      </ng-container>
    </div>-->
  </form>

  <!-- Private information form -->
  <div margin-top padding-top>
    <h4 no-margin no-padding class="info-text">Private Information</h4>
    <hr class="custom-hr" color="gray">
  </div>


  <form>
    <ion-item>
      <ion-label>
        <ion-icon name="mail" color="gray"></ion-icon>
      </ion-label>
      <!--<ion-label color="primary" floating>Email</ion-label>-->
      <ion-input type="email" placeholder="Email" id="email" class="input"
                  required></ion-input>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i></i>
        <div class="error-message isa_error" *ngIf="formErrors.email">
          {{ formErrors.email }}
        </div>
      </ng-container>
    </div>-->

    <ion-item>
      <ion-label>
        <ion-icon name="key" color="gray"></ion-icon>
      </ion-label>
      <!--<ion-label color="primary" floating>Password</ion-label>-->
      <ion-input type="password" placeholder="Password" id="password" class="input"
                  required></ion-input>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i class="fa fa-check"></i>
        <div class="error-message isa_error" *ngIf="formErrors.password">
          {{ formErrors.password }}
        </div>
      </ng-container>
    </div>-->

    <ion-item>
      <ion-label>
        <ion-icon name="key" color="gray"></ion-icon>
      </ion-label>
      <!--<ion-label color="primary" floating>Password</ion-label>-->
      <ion-input type="password" placeholder="Confirm Password" id="password2" class="input"
                  required></ion-input>
    </ion-item>
    <!--<div class="validation-errors">
      <ng-container>
        <i class="fa fa-check"></i>
        <div class="error-message isa_error" *ngIf="formErrors.password2">
          {{ formErrors.password2 }}
        </div>
      </ng-container>
    </div>-->
  </form>

</ion-content>
