<ion-header>
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="centered-text" padding>
    <span><strong>{{ 'SIGN_UP.personal_info' | translate}}</strong></span>
  </div>
  <div padding>
    <form [formGroup]="userForm">
      <ion-item>
        <ion-label color="primary" fixed>{{ 'SIGN_UP.email' | translate}}</ion-label>
        <ion-input type="email" placeholder="" id="email" class="input"
                   formControlName="email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.email">
            {{ formErrors.email }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary" fixed>{{ 'SIGN_UP.username' | translate}}</ion-label>
        <ion-input type="text" formControlName="username" required></ion-input>
      </ion-item>
      <div class="validation-errors">

        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.username">
            {{ formErrors.username }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary" fixed>{{ 'SIGN_UP.name' | translate}}</ion-label>
        <ion-input type="text" placeholder="" id="name" formControlName="name" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.name">
            {{ formErrors.name }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary" fixed>{{ 'SIGN_UP.surname' | translate}}</ion-label>
        <ion-input type="text" placeholder="" id="surname" formControlName="surname" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.surname">
            {{ formErrors.surname }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary" fixed>{{ 'SIGN_UP.patronymic' | translate}}</ion-label>
        <ion-input type="text" placeholder="" id="patronymic" formControlName="patronymic"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.patronymic">
            {{ formErrors.patronymic }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>{{ 'SIGN_UP.birth' | translate}}</ion-label>
        <ion-datetime formControlName="birthDate" display-format="MMMM YYYY" min="1900" max="2020-10-31"
                      placeholder="Birth Date"
                      required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SIGN_UP.gender' | translate}}</ion-label>
        <ion-select placeholder="Gender" formControlName="gender">
          <ion-option *ngFor="let s of genderTypes" [value]="s.value">{{s.viewValue | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.gender">
            {{ formErrors.gender }}
          </div>
        </ng-container>
      </div>

      <div formArrayName="phones" class="phones-form-array">
        <div *ngFor="let phone of phones.controls; let i=index"
             [formGroupName]="i">
          <ion-row>
            <ion-col col-6>
              <ion-input placeholder="8(___)___-__-__"
                         formControlName="number" #myProp (ionBlur)="trimLastCharacter(myProp.value, i)"
                         [textMask]="{mask: mask}"></ion-input>
            </ion-col>
            <ion-col col-4>
              <ion-select placeholder="Type" class="full-width-select" formControlName="type">
                <ion-option *ngFor="let s of phoneTypes" value="{{s.value}}">{{s.viewValue}}</ion-option>
              </ion-select>
            </ion-col>
            <ion-col col-2>
              <button *ngIf="i != 0" ion-button clear icon-start icon-right (click)="deletePhone(i)">
                <ion-icon name="trash" color="danger"></ion-icon>
              </button>
              <button *ngIf="i == 0" ion-button clear icon-start icon-right (click)="savePhone()">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>

          <div class="validation-errors">
            <ng-container>
              <i></i>
              <div class="error-message isa_error" *ngIf="phone.get('number').errors !== null">
                {{ getPhoneError(phone.get('number').errors) }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>


      <ion-item>
        <!--<ion-label color="primary" stacked>Password</ion-label>-->
        <ion-input type="password" placeholder="{{ 'SIGN_UP.password' | translate}}" id="password" class="input"
                   formControlName="password" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i class="fa fa-check"></i>
          <div class="error-message isa_error" *ngIf="formErrors.password">
            {{ formErrors.password }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <!--<ion-label color="primary" stacked>Confirm password</ion-label>-->
        <ion-input type="password" placeholder="{{ 'SIGN_UP.confirm_pass' | translate}}" id="password2" class="input"
                   formControlName="password2" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <i></i>
          <div class="error-message isa_error" *ngIf="formErrors.password2">
            {{ formErrors.password2 }}
          </div>
        </ng-container>
      </div>

    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <!--<div (click)="goToSignin()">-->
      <!--<span><strong>Sign in</strong>.</span>-->
    <!--</div>-->

    <button ion-button block outline class="login-button" type="submit" (click)="register()"
            [disabled]="!userForm.valid">
      {{ 'SIGN_UP.register' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>
