@import "../../styles/themes";
@import '~@nebular/theme/styles/global/typography/typography';

@include nb-install-component() {

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
  }

  nb-card-body {
    padding: 0;
  }

  nb-card{
    height: 100%;
  }


  .dropdown {
    min-width: 100px;
  }

  .user-activity-list {
    padding: 0;
    margin: 0;
  }

  .user-activity-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    color: nb-theme(color-fg);
    padding: nb-theme(card-padding);
    border-bottom: nb-theme(list-item-border-width) nb-theme(card-header-border-type) nb-theme(separator);

    &:first-child {
      border-top: nb-theme(list-item-border-width) nb-theme(card-header-border-type) nb-theme(separator);
    }

    &:hover {
      background-color: nb-theme(layout-bg);

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 6px;
        left: 0;
        top: 0;
        background-color: nb-theme(color-success);
        border-radius: nb-theme(radius);
      }
    }
  }

  @include nb-for-theme(corporate) {
    .user-activity-list li {
      border-color: nb-theme(tabs-separator);

      &:first-child {
        border-color: nb-theme(tabs-separator);
      }

      &:hover {
        &::before {
          background-color: nb-theme(color-primary);
        }
      }
    }
  }

  .time {
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-light);
    text-transform: uppercase;
  }

  nb-user /deep/ {
    .info-container {
      @include nb-ltr(margin-left, 0.875rem);
      @include nb-rtl(margin-right, 0.875rem);
    }

    .user-name {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.25rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .user-title {
      font-size: 0.875rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
    }
  }

  .search-results {
    height : 100%;
    overflow-y: scroll;
  }
}
