<nb-card size="large">
  <nb-card-header>
    <span>User Activity</span>
    <div class="dropdown ghost-dropdown" ngbDropdown>
      <button type="button" class="btn btn-sm btn-primary" ngbDropdownToggle>
        {{ type }}
      </button>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li class="dropdown-item"
            *ngFor="let t of types"
            (click)="getUserActivity(t); type = t">
          {{ t }}
        </li>
      </ul>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div class="search-results"
         infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         [scrollWindow]="false"
         (scrolled)="onScrollDown($event)"
         (scrolledUp)="onUp($event)">

      <ul class="user-activity-list">
        <li *ngFor="let c of recent">
          <nb-user [picture]="(c?.img | secure | async) || placeholder" [name]="c.fio" [title]="c.action"
                   size="large"></nb-user>
          <span class="time">{{ c.date | date: 'medium' }}</span>
        </li>

      </ul>


    </div>
  </nb-card-body>
</nb-card>
