<div *ngIf="loginService.loading">
  Загрузка, ждите...
</div>
<div *ngIf="!loginService.loading">
  <div *ngIf="!loginService.parentDisplay">
    <input type="text" placeholder="Username" [(ngModel)]="loginService.username">
    <input type="password" placeholder="Password" [(ngModel)]="loginService.password">
    <button (click)="loginService.login()">Войти</button>
  </div>

  <div *ngIf="loginService.parentDisplay">
    Вошли как {{loginService.parentDisplay.username}}/{{loginService.parentDisplay.fio}}
    <a (click)="loginService.exit()" class="exit">Выйти</a>
  </div>
</div>
