<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body class="m-3">


    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>Filter</nb-accordion-item-header>
        <nb-accordion-item-body>

          <form [formGroup]="filterForm">

          <nb-select placeholder="Entrance" shape="rectangle" formControlName="entrance" outline status="primary">
            <nb-option>Clean</nb-option>
            <nb-option *ngFor="let entry of entrances" value="{{entry}}">{{entry}}</nb-option>
          </nb-select>

          <input type="text" nbInput formControlName="childName" fullWidth status="primary" fieldSize="medium" placeholder="Child Name"/>
          <input type="text" nbInput formControlName="childSurname" fullWidth status="primary" fieldSize="medium" placeholder="Child Surname"/>
          <input type="text" nbInput formControlName="childPatronymic" fullWidth status="primary" fieldSize="medium" placeholder="Child Patronymic"/>

          <div>
            <input nbInput placeholder="Start from" [nbDatepicker]="formcontrol1" status="primary" formControlName="startDate">
            <nb-datepicker #formcontrol1 [min]="minStart" [max]="maxStart"></nb-datepicker>

            <input nbInput placeholder="End to" [nbDatepicker]="formcontrol2" status="primary" formControlName="endDate">
            <nb-datepicker #formcontrol2 [min]="minEnd" [max]="maxEnd"></nb-datepicker>
          </div>

          <button nbButton fullWidth shape="rectangle"  outline status="info" (click)="search()">Search</button>
          <button nbButton fullWidth shape="rectangle"  outline status="info" (click)="clearFilter()">Clear Filter</button>

          </form>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
