<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body class="m-3">

    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Filter</nb-accordion-item-header>
        <nb-accordion-item-body>

          <nb-select placeholder="Entrance" shape="rectangle" status="primary" [formControl]="selectedItemFormControl">
            <nb-option>Clean</nb-option>
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select>

          <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Name">
          <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Surname">
          <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Patronymic">

          <div>
            <input nbInput placeholder="Form Picker" [nbDatepicker]="formcontrol" [formControl]="formControl">
            <nb-datepicker #formcontrol [min]="minStart" [max]="maxStart"></nb-datepicker>

            <input nbInput placeholder="Form Picker" [nbDatepicker]="formcontrol" [formControl]="formControl">
            <nb-datepicker #formcontrol [min]="minEnd" [max]="maxEnd"></nb-datepicker>
          </div>

          <button nbButton fullWidth shape="rectangle" outline >Info</button>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
