<ion-header>
  <ion-navbar>

    <!--<button *ngIf="!openedSearchbar" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="!openedSearchbar">Входящие</ion-title>

    <ion-searchbar *ngIf="openedSearchbar" placeholder="Поиск" showCancelButton="true" (ionInput)="onSearch($event)"
                   (ionCancel)="openedSearchbar=false"></ion-searchbar> -->

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title enter>Входящие</ion-title>

    <ion-buttons end>
      <!--<button ion-button icon-only *ngIf="!openedSearchbar" (click)="openedSearchbar=true">
        <ion-icon name="search"></ion-icon>
      </button>-->

      <button ion-button icon-only (click)="dropdown($event)">
        {{selectedStatus?.nameRu}}
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="loadRequestList($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="edit(item.uid)">
      <h2>{{item.title}}</h2>
      <h3>{{item.description}}</h3>
      <h3>Группа: {{item.requestGroupName}}</h3>
      <h3>Создал: {{item.createrFIO}} • {{item.createDate|dateFormat}}</h3>
      <h3>Исполнитель: {{!item.executerFIO ? 'Не назначен' :
        item.executerFIO +' • '+(item.executerDate|dateFormat) }}</h3>
      <h3>Статус: {{item.statusName}}</h3>
      <p>Дата и время изменения • {{item.dateTime|dateFormat}}</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreRequestList($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
