<ion-header>

  <ion-navbar>
    <ion-buttons start left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="action === 'edit'">{{ 'CHILD_PROFILE.edit_child' | translate }}</ion-title>
    <ion-title *ngIf="action === 'save'">{{ 'CHILD_PROFILE.add_child' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only  (click)="saveChild()"  [disabled]="!childForm.valid">
        <ion-icon name="checkmark" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-stepper #stepper (selectIndexChange)="selectChange($event)" mode='horizontal'>
    <ion-step label="Card"
              description="Onay child card number" icon="card">
      <h2>{{ 'CHILD_PROFILE.enter_onay' | translate }}</h2>
      <form [formGroup]="childForm">
        <ion-item>
          <ion-label color="primary" stacked>{{ 'CHILD_PROFILE.onay_card' | translate }}</ion-label>
          <ion-input type="text" id="onay_number" [textMask]="{mask: mask}"
                     required formControlName="cardNumber"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <i></i>
            <div class="error-message isa_error" *ngIf="formErrors.cardNumber">
              {{ formErrors.cardNumber }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label color="primary" stacked>{{ 'CHILD_PROFILE.card_password' | translate }}</ion-label>
          <ion-input type="text" id="password"
                     required formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <i></i>
            <div class="error-message isa_error" *ngIf="formErrors.password">
              {{ formErrors.password }}
            </div>
          </ng-container>
        </div>
        <ion-row>
          <ion-col col-12>
            <button ion-button ionicStepperNext block [disabled]="!childForm.controls['cardNumber'].valid  || !childForm.controls['password'].valid">
              Next
            </button>
          </ion-col>
        </ion-row>
      </form>
    </ion-step>


    <ion-step label="Personal info"
              description="Step1 description" icon="person">
      <h2 class="centered-text">{{ 'CHILD_PROFILE.personal_info' | translate }}</h2>

      <!-- Profile picture -->
      <div text-center>

        <image-picker [fileId]="chosenPictureId"></image-picker>

        <!--<img [src]="child.img" class="edit-avatar" alt="">
        <p class="change-text" (click)="fileInput.click()">Change Photo</p>
        <input hidden
               type="file"
               #fileInput
               multiple
               (change)="handleFile($event.target.files)">-->
      </div>
      <!-- Form -->
      <form [formGroup]="childForm">

        <ion-item>
          <ion-label color="primary" fixed>{{ 'CHILD_PROFILE.name' | translate}}</ion-label>
          <ion-input type="text" placeholder="" id="name" formControlName="name" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <i></i>
            <div class="error-message isa_error" *ngIf="formErrors.name">
              {{ formErrors.name }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label color="primary" fixed>{{ 'CHILD_PROFILE.surname' | translate}}</ion-label>
          <ion-input type="text" placeholder="" id="surname" formControlName="surname" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <i></i>
            <div class="error-message isa_error" *ngIf="formErrors.surname">
              {{ formErrors.surname }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label color="primary" fixed>{{ 'CHILD_PROFILE.patronymic' | translate}}</ion-label>
          <ion-input type="text" placeholder="" id="patronymic" formControlName="patronymic"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <i></i>
            <div class="error-message isa_error" *ngIf="formErrors.patronymic">
              {{ formErrors.patronymic }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>{{ 'CHILD_PROFILE.birth' | translate}}</ion-label>
          <ion-datetime formControlName="birthDate" display-format="MMMM YYYY" min="1900" max="2020-10-31"
                        placeholder="Birth Date"
                        required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'CHILD_PROFILE.gender' | translate}}</ion-label>
          <ion-select placeholder="Gender" formControlName="gender">
            <ion-option *ngFor="let s of genderTypes" [value]="s.value">{{s.viewValue | translate}}</ion-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <i></i>
            <div class="error-message isa_error" *ngIf="formErrors.gender">
              {{ formErrors.gender }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label>{{ 'CHILD_PROFILE.send_notification' | translate}}</ion-label>
          <ion-toggle slot="end" formControlName="notification" [checked]="true"></ion-toggle>
        </ion-item>
      </form>

      <ion-row *ngIf="action === 'edit'">
        <ion-col col-12>
          <button ion-button block color="danger" (click)="deleteChild()">
            <ion-icon name="close"></ion-icon> &nbsp; {{ 'CHILD_PROFILE.delete_child' | translate}}
          </button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-12>
          <button ion-button ionicStepperPrevious block color="light">
            {{ 'CHILD_PROFILE.previous' | translate}}
          </button>
        </ion-col>
      </ion-row>

    </ion-step>
  </ion-stepper>

</ion-content>
