<nb-layout windowMode>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar *canI="[VIEW_MENU]" class="menu-sidebar"
              [tag]="tag"
              responsive
              [end]="sideBarEnd">
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

  <nb-sidebar *canI="[VIEW_RECENT_EVENT_LIST]" class="settings-sidebar"
              tag="settings-sidebar"
              state="collapsed"
              fixed
              [end]="!sideBarEnd">
    <app-recent-event></app-recent-event>
  </nb-sidebar>
</nb-layout>

<!--<app-toggle-settings-button></app-toggle-settings-button>-->
