<!--<ion-list>
  &lt;!&ndash;<ion-list-header color="primary">Options</ion-list-header>&ndash;&gt;
  &lt;!&ndash;<button ion-item (tap)="backup()">Backup</button>&ndash;&gt;
  <button ion-item *ngFor="let item of items" (tap)="backup(item)">{{item.nameRu}}</button>

</ion-list>-->


<ion-list radio-group [(ngModel)]="selected">
  <ion-list-header color="primary">{{header}}</ion-list-header>
  <ion-item *ngFor="let item of items">
    <ion-label>{{item.nameRu}}</ion-label>
    <ion-radio (ionSelect)="onSelected(item)" value="{{item.id}}"></ion-radio>
  </ion-item>
</ion-list>

