<nb-card size="medium">

  <nb-card-body>
    <div class="picture">
        <img class="no-profile" [src]="(event?.img | secure | async) || placeholder">
    </div>

    <div class="details">
      <div class="title">
        <p>Surname : {{event.lastName}}</p>
        <p>Name : {{event.firstName}}</p>
        <p>Patronymic : {{event.patronymic}}</p>
        <p>Date : {{event.date | date: 'fullDate'}}</p>
        <p>Time : {{event.date | date: 'fullTime'}}</p>
        <p>Action : {{event.action}}</p>
        <p>Entrance : {{event.entrance}}</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
