<ion-header>

  <ion-navbar color="white">
    <ion-title>{{ childFio }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  #content padding>
  <ion-infinite-scroll *ngIf="loadMore" (ionInfinite)="loadDataMoreMessages($event)" position="top">
    <ion-infinite-scroll-content loadingText="Loading more chats...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="messages-container">
    <div class="messages-container-content">
  <ion-list *ngFor="let message of messages">
    <ion-note><p text-center no-padding no-margin>{{message.date}}</p></ion-note>
    <ion-item *ngFor="let event of message.events" no-lines no-margin no-padding text-wrap>
      <ion-avatar item-left>
        <img [src]="(childImg | secure) | async" class="avatar" alt=""
             onerror="this.src='assets/src/unknown.png'">
      </ion-avatar>
      <div class="chatbox">
        {{ ('MESSAGE.'+event.action+'_'+event.gender) | translate:{childFio:event.fio, time: (event.date|dateFormat)} }}
      </div>
    </ion-item>
  </ion-list>
    </div>
  </div>

</ion-content>
