<ion-menu [content]="content">
  <ion-content>
    <div class="menu-header">
      <!--material-design-background-->
      <img class="user-avatar round"
           [src]="chosenPicture || placeholder" onerror="this.src='assets/img/avatar/girl-avatar.png'"/>

      <p class="name">{{accountInfo?.organization}}</p>
      <p class="e-mail" *ngIf="accountInfo?.department">{{accountInfo?.department}}</p>
      <p class="e-mail">{{accountInfo?.fio}}</p>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" [class.highlight]="p.active" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button menuClose ion-item (click)="logout()">
      <ion-icon name="log-out" item-left></ion-icon>
      Выход
    </button>
  </ion-footer>
</ion-menu>

<ion-nav #content swipeBackEnabled="false"></ion-nav>
