<ion-header>

  <ion-navbar color="white">
    <ion-title>Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

  <div id="profile-bg" [ngStyle]="{'background-image': 'url(../../assets/src/school-background5.jpg)'}"></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" [src]="(accountInfo.img | secure) | async" class="avatar" alt=""
           onerror="this.src='assets/src/unknown.png'">
      <h3 id="profile-name">{{accountInfo.fio}}</h3>
<!--      <span id="profile-description">Traveler, geek and animal lover.</span>-->
    </div>

    <div>
      <ion-list>
        <ion-list-header>
          {{'PROFILE.add_child' | translate}}
          <button item-end ion-button icon-only clear (click)="childSaveEdit(null)">
            <ion-icon color="primary" name="add-circle"></ion-icon>
          </button>
        </ion-list-header>
        <div *ngFor="let i of childService.parentChildListValueChanges$ | async">
          <button ion-item *ngIf="i.id != 0" (click)="childSaveEdit(i)">
            <ion-row text-center>
              <ion-col col-3 class="grid_img">
                <img class="post-profile-image"  [src]="(i.img | secure) | async" alt=""
                     onerror="this.src='assets/src/unknown.png'">
              </ion-col>
              <ion-col class="centered-text">
                <p>{{i.fio}}</p>
              </ion-col>
            </ion-row>
          </button>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
