page-child-pofile {
  .edit-avatar {
    border-radius: 100%;
    width: 25%;
  }

  .change-text {
    font-size: 13px;
    color: #659CF2;
  }

  .info-text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .custom-hr {
    height: 3px;
  }

  .custom-select {
    margin-left: 15px;
    position: absolute;
  }
  .isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;

  }
  .isa_info {
    color: #00529B;
    background-color: #BDE5F8;
  }
  .isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
  .isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
  }
  .isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
  }
  .phone-item-label {
    min-height: 24px;
    div.item-inner {
      border-bottom: none;
    }
  }
  .phone-item {
    div.item-inner {
      border-top: none;
      ion-input {
        width: 50%;
      }
    }
  }

  .full-width-select {
    width: 100%;
    max-width: 100%;
  }
  ion-stepper .ionic-vertical-content{
    padding: 0 !important;
  }
}
