<ion-menu [content]="content" id="menu" side="right">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Filter</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY" [(ngModel)]="filter.startDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="filter.endDate"></ion-datetime>
      </ion-item>
    </ion-list>

    <button menuClose="menu" class="filter-ok-button" (click)="getEventist()">
      ПРИМЕНИТЬ
    </button>

    <button menuClose="menu" class="filter-clear-button" (click)="clearFilter()">
      СБРОСИТЬ
    </button>
  </ion-content>
</ion-menu>


<ion-header>
  <ion-navbar color="white">
    <ion-buttons start left>

    </ion-buttons>
    <button ion-button [menuToggle]="activeMenu" right>
      <ion-icon name="funnel"></ion-icon>
    </button>
    <ion-title style="border: 1px solid #ccc" (click)="scrollToTop()">Pro-Security</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Story line -->
  <ion-scroll class="story" scrollX="true">
    <div class="story_scroll" *ngFor="let s of stories">
      <div class="story_img_bg" [class.story_img_bg_active]="filter.childId == s.id" (click)="getEventist(s.id)">
        <img no-margin no-padding class="story_img" [src]="s.img"></div>
      <p no-margin no-padding text-center class="story_text">{{ s.fio }}</p>
    </div>
  </ion-scroll>

  <div (swipe)="swipePage($event)">

    <div
      *ngIf="dateFilter"
      class="filter-menu-shadow-container">
      <ion-row class="filter-center-item">
        <div class="filter-date-icon"></div>
        <div class="filter-label">{{dateFilter}}</div>
        <ion-icon (click)="clearFilter()" name="close"></ion-icon>
      </ion-row>
    </div>

    <ion-list>
      <ion-item-group *ngFor="let day of childService.allChildrenEventListValueChanges$ | async">
        <!--{{test(day)}}-->
        <ion-item-divider color="light" class="custom-divider" sticky>{{day.date}}</ion-item-divider>
        <div *ngFor="let event of day.events; let i = index">
          <ion-item no-lines text-wrap>
            <ion-avatar item-left>
              <img src="../../assets/src/girl (1).png">
            </ion-avatar>
            <ion-row>
              <ion-col col-10 no-padding no-margin>
                <p class="p_action">
                  {{ ('HOME.'+event.action+'_'+event.gender) | translate:{childFio:event.fio} }}
                  <ion-note>{{event.time}}</ion-note>
                </p>
              </ion-col>
              <ion-col col-2 *ngIf="event.action == 'in'">
                <img src="../../assets/src/enter.png" class="post-small-img" alt="">
              </ion-col>
              <ion-col col-2 *ngIf="event.action == 'out'">
                <img src="../../assets/src/exit.png" class="post-small-img" alt="">
              </ion-col>
            </ion-row>
          </ion-item>
          <hr *ngIf="i != day.events.length - 1">
        </div>
      </ion-item-group>
    </ion-list>

    <div
      *ngIf="eventList.length == 0"
      class="empty-list-notify-container">
      <img src="../../assets/src/no_reports.png"
           class="empty-image"/>

      <p class="empty-list-lower-title-text">
        ОТСУТСТВУЕТ ИСТОРИЯ
      </p>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="loadMore" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
