page-home {
  $grid-padding-width: 1px !default;
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* Stories */
  .story {
    white-space: nowrap;
    height: 15%;
  }

  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    //background: -webkit-linear-gradient(left top, #ff99cc 0%, #33ccff 100%);
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img_bg_active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
  }

  .custom-divider .label-ios {
    margin: 0;
  }

  .empty-list-lower-title-text {
    position: relative;
    //width: 3em;
    text-align: center;
    margin: 0 auto;
    top: 11%;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 5% !important;
  }

  .empty-list-notify-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15%;
  }

  .empty-image {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }

  .p_action {
    left: 3%;
    position: absolute;
    top: 40%;
    bottom: 23%;
  }

  .filter-ok-button {
    border: none;
    outline: none;
    position: absolute;
    height: 3em;
    left: 7%;
    width: 38%;
    background-color: #01B8FE;
    border-radius: 0.5em;
    color: #ffffff;
    text-transform: uppercase;
  }
  .filter-clear-button {
    border: none;
    outline: none;
    position: absolute;
    height: 3em;
    left: 52%;
    width: 38%;
    background-color: #ffffff;
    border-radius: 0.5em;
    color: #565d6a;
    border: 1px solid #565d6a;
    text-transform: uppercase;
  }

  .filter-menu-shadow-container {
    height: 3em;
    width: 100%;
    z-index: 1;
  }

  .filter-center-item {
    width: 60%;
    margin: auto;
    color: #bfbfbf;
  }

  .filter-date-icon {
    background-size: 100%;
    width: 2em;
    height: 2em;
    background: url(../../assets/src/calendar.png) no-repeat center;
  }

  .filter-label {
    margin: 0;
    color: #565d6a;
    left: 11%;
    text-align: center;
    font-size: 1em;
    padding: 4%;
  }

  hr {
    height: 0.1rem !important;
  }
}
